[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "*"
attrs = "*"
autobahn = "*"
cachelib = "*"
certifi = "*"
cffi = "*"
channels = "*"
charset-normalizer = "*"
click = "*"
colorama = "*"
constantly = "*"
cryptography = "*"
daphne = "*"
distlib = "*"
django-filter = "*"
django-jwt-auth = "*"
djangorestframework = "*"
filelock = "*"
hyperlink = "*"
idna = "*"
incremental = "*"
itsdangerous = "*"
msal = "*"
drf-msal-jwt = "*"
platformdirs = "*"
pyasn1 = "*"
pyasn1-modules = "*"
pycparser = "*"
python-dateutil = "*"
pytz = "*"
requests = "*"
service-identity = "*"
txaio = "*"
typing-extensions = "*"
tzdata = "*"
urllib3 = "*"
six = "*"
"zope.interface" = "*"
pymemcache = "*"
mysqlclient = "*"
djangorestframework-jwt = "*"
Automat = "*"
Django = "*"
Jinja2 = "*"
Markdown = "*"
MarkupSafe = "*"
PyJWT = "*"
pyOpenSSL = "*"
PyYAML = "*"
Werkzeug = "*"

[dev-packages]

[requires]
python_version = "3.10"
